.fond{
    display: block;
    width: 100%;
    height: 700px;
    margin-right: 10%;

}


.recursos{
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    height: 80px;
    width: 350px;
}

.fond-upi{
    position: absolute;
    margin-top: 14%;
    margin-right:62% ;
    margin-left: 50px;
    
}

.upi{
    width: 500px;
    height: 300px;
}

.boton-1{
    margin-left: 35%;
    height:45px ;
    width:150px ;
    border: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: #2d98c6;
 border-radius: 152px;
}
.boton-1:hover{
    background: #176d93;
}

.fond-principal{
    position: absolute;
    margin-left:44% ;
    margin-top: 7%;
}


.principal{
    height:600px ;
    width:710px ;
    margin-left: 180px;
}

.contadores{

    margin-top: 6%;
    height: 300px;
    width: 100%;
    
    
}


.uno{
    margin-left: 8%;
    height:250px ;
    width:250px ;
}
.dos{
    height:250px ;
    width:250px ;
}
.tres{
    height:250px ;
    width:250px ;
}
.cuatro{
    height:250px ;
    width:250px ;
}
.cinco{
    height:250px ;
    width:250px ;
}





.banner{

 height:300px ;
 width:100% ;

}


.banner-1{
 border-radius: 46px;
 position: absolute;
 background: #2d98c6;
 width:980px ;
 height:250px ;
 margin-left:20% ;
 box-shadow: -3px 5px 15px -2px rgb(49, 39, 39);;

}


.cont{
 position: absolute;
 color: #e9e9e9;
 margin-left: 40%;
 margin-top: 0px;
 height: 120px;
 width: 320px;
}

.ul-1{
 position: absolute;
 margin-top: 0px;
 position: absolute;
 color: #ffffff;
 display: flex;
 margin-top:80px ;
}

.titulo{
 position: absolute;
 font-size: 28px;
 margin-left:34% ;
}

.boton-2{
list-style:none;
 position: absolute;
 color: #2d98c6;
 background: #ffffff;
 height:43px ;
 width:190px ;
 margin-left: 400px;
 margin-top: 90px;
 padding-top:5px ;
 border-radius: 20px;
 border: none;
 text-decoration:none;


}

 a {
    border-radius: 30px;
    outline: none;
    text-decoration: none;
}
.interes-titulo{
    font-family: 'Josefin Sans', sans-serif; 
    margin-left:29%;
     font-size: 25px;
     z-index: 11;
}












.grupos-botones{
    background: rgb(12, 5, 5);
    margin-top:19%;
    margin-left:20%;

}











.boton_btn1{
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(201, 204, 25);
    color: #ffffff;
    width:320px ;
    height: 40px;
    list-style:none;
    z-index: 11; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
}

.boton_btn2{
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(30, 162, 15);
    width:320px ;
    height: 40px;
    list-style:none; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    z-index: 11;
}

.boton_btn3{
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(19, 26, 231);
    width:320px ;
    height: 40px;
    list-style:none; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    z-index: 11;

}
/*EMPIEZA @MEDIA - RESPONSIVE-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:320px) and (max-width:980px){
    .fond
    {
      grid-template-columns: 1fr;
      width: 100%;
      height: 1000px;
    }

    .recursos{
        margin-left: 25%;
        width: 200px;
        height: 60px;
    }
    .upi{
        width: 90%;
        height: 70%;
    }
    .fond-upi{

        position: absolute;
        margin-left: 10%;
        margin-top: 180px;
        width: 300px;
        height: 200px;
        font-size: 13px;
        margin-right:72% ;
        
    }

    .boton-1{
        margin-left: 20%;
    }

    .boton-1:hover{
        background: #176d93;
    }

    /*ILUSTRACION PRINCIPAL - IMAGEN-----------------------------------------------------------------------------------------------------------*/
    .fond-principal{
        position: absolute;
        margin-top: 600px;
        margin-left: -210px;
    }
    .principal{
        position: absolute;
        width: 390px;
        height: 330px;
    }

    /*LOS REGISTROS REGISTRADOS - CONTADOS-----------------------------------------------------------------------------------------------------------*/
    .contadores{


       /* background: #2e10d9;*/


        margin-top: 6%;
        height: 1200px;
        width: 100%;
    }
    
    
    .uno{
        margin-left: 38px;
        height:240px ;
        width:240px ;
    }
    .dos{
        margin-left: 38px;
        height:240px ;
        width:240px ;
    }
    .tres{
        margin-left: 38px;
        height:240px ;
        width:240px ;
    }
    .cuatro{
        margin-left: 38px;
        height:240px ;
        width:240px ;
    }
    .cinco{
        margin-left: 38px;
        height:240px ;
        width:240px ;
    }
.banner{

    margin-top:60px ;
    margin-left: 0px;

}
    .banner-1{
        margin-top:50px;
        margin-left: 0px;
        width:350px ;
        height:110px ;
        border: 10px;
    }
    
.cont{
    position: absolute;
    color: #e9e9e9;
    margin-left: 11%;
    margin-top:-30px;
    height: 720px;
    width: 100%;
   }
   
   .ul-1{
    position: absolute;
    color: #ffffff;
    display: flex;
    margin-top:80px ;

    font-size: 8px;
   }
   
   .titulo{
    position: absolute;
    font-size: 15px;
    margin-top: 10px;
    margin-left:14% ;
   }
   
   .boton-2{
   list-style:none;
    position: absolute;
    color: #2d98c6;
    background: #ffffff;
    height:13px ;
    width:60px ;
    margin-left: 220px;
    margin-top: 70px;
    padding-top:5px ;
    padding-bottom: 5px;
    border-radius: 20px;
    border: none;
    text-decoration:none;
    font-size: 7px;
   
   
   }

   
 a {
    border-radius: 30px;
    outline: none;
    text-decoration: none;
}
.interes-titulo{
    margin-top: 200px;
    font-family: 'Josefin Sans', sans-serif; 
    margin-left:0%;
     font-size: 25px;
     z-index: 11;
}
.boton_btn1{
    margin-left:-22%;
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(201, 204, 25);
    color: #ffffff;
    width:320px ;
    height: 40px;
    list-style:none;
    z-index: 11; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    margin-top:10px ;
}

.boton_btn1:hover{
    background: rgb(234, 236, 138);
}

.boton_btn2{
    margin-left:-22%;
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(30, 162, 15);
    width:320px ;
    height: 40px;
    list-style:none; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    z-index: 11;
    margin-top:10px ;
}
.boton_btn2:hover{
    background: rgb(98, 205, 87);
}
.boton_btn3{
    margin-left:-22%;
    font-family: 'Josefin Sans', sans-serif; 
    background: rgb(19, 26, 231);
    width:320px ;
    height: 40px;
    list-style:none; 
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    z-index: 11;
    margin-top:10px ;
}
.boton_btn3:hover{
    background: rgb(84, 89, 229);
}
}