/*
Loguin App
*/
* {
    font-family: 'Josefin Sans Bold' !important;
}

html,
body {
    height: 0;
    margin: 0;
}

.propiedad {
    color: white;
    font-size: 60px;
}

.sistemaG img {
    width: 100%;
    margin-top: 80px;
}

.card-left {
    margin-top: 150px;
    margin-left: 8%;
}

.card-left p {
    width: 400px;
}

.tarjeta-inicio {
    top: 50px;
    width: 100% !important;
    font-family: 'Josefin Sans Bold' !important;
    border: solid 3px #23820b !important;
    border-radius: 26px !important;
    text-align: justify;
    padding: 10px;
}

.tarjeta-inicio button {

    text-decoration: none;
    background-color: #23820b;
    color: white;
    margin-bottom: 8px;
    border-radius: 26px;
    padding: 15px;

}

.tarjeta-inicio button:hover {
    color: white;

}

.text p {
    margin-top: 20px;
    text-align: justify;
    border-radius: 26px !important;
}

.card-body p {
    text-align: center;
    background-color: #23820b !important;
    color: white !important;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 26px !important;
    font-size: 12px;
}

.tarjeta-inicio-2 {
    top: 70px;
    width: 100% !important;
    font-family: 'Josefin Sans Bold' !important;
    border: solid 3px #2cb1e5 !important;
    border-radius: 26px !important;
    text-align: justify;

}

.tarjeta-inicio-2 p {
    align-items: center;
    margin-top: 10px;
    text-align: center;
    background-color: #2cb1e5 !important;
    color: white !important;
    width: 100%;
    padding: 5px;
    border-radius: 37px !important;
    margin-bottom: 18px;
}

.tarjeta-inicio-2 ul {
    list-style: none;
    padding: 0px;
    margin: 2px;

}

.tarjeta-inicio-2 ul li::before {
    content: "\2022";
    color: #2cb1e5;
    display: inline-block;
    padding-right: 15px;
    font-size: 50px;
    line-height: 25px;
    vertical-align: -11px;
    width: 15px;
    margin-right: 20px;

}

.texto-inicial {
    font-family: 'Josefin Sans Bold' !important;
    color: #fc7323;
}

.formulario-login {
    margin: 6px;
    padding: 6px;
}

.campo-user {
    border-radius: 26px !important;
    border: solid 0.5px #fc7323 !important;
}

.texto-recuperar {
    color: #fc7323 !important;
}



.link-registro {
    color: #fc7323 !important;
    font-family: 'Josefin Sans Bold' !important;
}


@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../Fuentes/Fonts/JosefinSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../Fuentes/Fonts/JosefinSans-Light.ttf');
    font-weight: 'Light';
}

@font-face {
    font-family: 'Josefin Sans Thin';
    src: url('../Fuentes/Fonts/JosefinSans-Thin.ttf');
    font-weight: Thin;
}